.skeleton-loader {
  .card {
    height: 3rem;
    box-shadow: none;
  }

  .placeholder {
    display: block;
    background-color: #35495e !important;
    background-image: linear-gradient(120deg, #35495e, #2b373f, #35495e);
    background-position: -12rem 0;
    animation: shimmerBackground 1s linear infinite;
    animation-fill-mode: forwards;
    background-repeat: repeat-y;
    border-radius: 0.25rem;
  }

  .statewise-table {
    width: 100%;
    th,
    td {
      .placeholder {
        height: 1.5rem;
      }
    }
  }

  @keyframes shimmerBackground {
    0% {
      background-position: -12rem 0;
    }
    100% {
      background-position: 12rem 0;
    }
  }
}
