.overall-data {
  margin: 2rem 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  @media only screen and (max-width: 640px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media only screen and (max-width: 320px) {
    grid-template-columns: 1fr;
  }
  .card {
    margin: 0.5rem 1rem;
    padding: 1rem;
    flex: 1;
    background-color: #05142e;
    box-shadow: 0 0 0.5rem 0.125rem #607d8b;
    border-radius: 0.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    .status {
      font-size: 0.8rem;
      text-transform: uppercase;
    }
    .data {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-top: 1rem;
      font-size: 1.5rem;
      small {
        font-size: 1rem;
      }
    }
  }
}
